html {
  scroll-behavior: smooth;
}
$scrollbar-width: 12px;
$thumb-gradient: linear-gradient(135deg, #f76c6c, #f9d423);
$thumb-hover-gradient: linear-gradient(135deg, #ff416c, #ff4b2b);
$track-color: #f1f1f1;

::-webkit-scrollbar {
  width: $scrollbar-width;
}

::-webkit-scrollbar-track {
  background: $track-color;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: $thumb-gradient;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:hover {
  background: $thumb-hover-gradient;
}
