@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

$bg-color: #151925;
$accent-color: #01eeff;
$text-color: #fff;

$font-family-base: "Poppins", sans-serif;
$secondary-font: "Inter", sans-serif;

body {
  background-color: $bg-color;
  font-family: $font-family-base;
}

.navbar-wrapper {
  font-family: $secondary-font;
  color: $text-color;
  padding: 0.5rem 0;
  position: sticky;
  top: 0;
  z-index: 30;
  backdrop-filter: blur(50px);
  transform: translateY(-1.5rem); /* `rem` for responsivess */
}

.content {
  max-width: 1300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  margin: 0 auto;
  ul {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    list-style: none;
  }

  li {
    margin: 0 1.5rem;
  }

  h5 {
    font-size: 24px;
    font-weight: bold;
    height: auto;
  }
}

.nav-item {
  text-decoration: none;
  color: $text-color;
  margin: 0 1rem;
  font-size: 15px;
}

.nav-item {
  text-decoration: none;
  color: $text-color;
  margin: 0 1rem;
  font-size: 15px;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: $accent-color;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
  }

  &:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }
}

.menu-btn {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  color: #fff;
  background: linear-gradient(
    112.1deg,
    rgb(32, 38, 57) 11.4%,
    rgb(63, 76, 119) 70.2%
  );
  line-height: 0;
  cursor: pointer;
  transition: background 0.4s ease, box-shadow 0.4s ease;
  display: none;
  &:hover {
    background: linear-gradient(
      112.1deg,
      rgb(63, 76, 119) 11.4%,
      rgb(32, 38, 57) 70.2%
    );
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
}

@media (max-width: 425px) {
  h5 {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  h5 {
    padding: 0 15px;
  }
  .menu-btn {
    display: block;
  }
  .content {
    ul {
      display: none;
    }
  }
}

@media (max-width: 1325px) {
  .navbar-wrapper {
    padding: 0 2rem;
  }
}